header h1 {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

#create-link {
    display: none;
}
  
#create-divider {
    display: none;
}

#post-form {
    display: flex;
    flex-direction: column;
}

#post-title {
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    resize: none;
}

#post-title::placeholder {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Source Code Pro", monospace;
}

#post-title:focus {
    border-color: #000000;
    outline: none;
}

#post-body {
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    box-sizing: border-box;
    resize: none;
}

#post-body::placeholder {
    font-family: "Source Code Pro", monospace;
}

#post-body:focus {
    border-color: #000000;
    outline: none;
}

#post-button {
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    width: fit-content;
    padding: 0;
}

.disabled {
    color: #aaa;
    pointer-events: none;
    cursor: default;
}

.enabled {
    color: #000000;
    pointer-events: auto;
    cursor: pointer;
}
