html,
body {
    font-family: "Source Code Pro", monospace;
}

.container {
    display: flex;
    flex-direction: column;
    height: 96vh;
}

.container input,
.container textarea,
.container button {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.create {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

#postTitle {
    resize: none;
    overflow: hidden;
    padding: 0.75rem;
}

#postForm {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#postContent {
    height: 100%;
    padding: 0.75rem;
}

.container button {
    background-color: #FFB6C1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 125px;
    padding: 0.7rem;
    margin-top: 1rem;
}

.container button:hover {
    background-color: #ff91a1;
}