header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

header h1 {
    margin: 0;
}

#header {
    text-decoration: none;
    color: #000000;
}

.dashboard-link {
    display: none;
}

.dashboard-divider {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 0 0.5rem;
}

.description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

table {
    margin-top: 0.5rem;

    h3 {
        margin-top: 0;
    }
}

td {
    vertical-align: text-top;
    .post-container {
        margin-bottom: 0.75rem;
    }

    .number {
        font-weight: normal;
        font-size: 1rem;
    }
}

.post-title {
    margin-bottom: 0;
}

#post-link {
    text-decoration: none;
    color: #000000;
}

.post-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-details-divider {
    font-size: 0.9rem;
    margin: 0 1px 2px 1px;
}

.upvotes, .downvotes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.upvotes:hover, .downvotes:hover {
    cursor: pointer;
    text-decoration: underline;
}

.upvotes-disabled, .downvotes-disabled {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.upvotes-voted, .downvotes-voted {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

.upvotes-voted:hover, .downvotes-voted:hover {
    cursor: pointer;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-bottom: 9px solid #000000;
}

.upvotes-count {
    font-size: 0.9rem;
    margin-left: 1px;
}

.downvotes-count {
    font-size: 0.9rem;
    margin-left: 1px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 9px solid #000000;
}

.created, .edited, .post-creator {
    font-size: 0.9rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#previous, #next {
    font-size: 1rem;
}

#previous:hover, #next:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pagination > .divider {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

@media screen and (max-width: 1024px) {
    header {
        h1 {
            font-size: 4.5rem;
        }

        .menu a {
            font-size: 1.5rem;
        }

        .menu div {
            font-size: 1.5rem !important;
        }


        .user-button {
            width: 100px;
            height: 100px;
            margin: 10px 5px 10px 10px;
        }
    }

    .description {
        font-size: 1.5rem;
    }

    td {
        margin-bottom: 0.5rem;

        .number {
            font-weight: normal;
            font-size: 2.5rem;
            padding-bottom: 1.3rem;
        }
    }

    .post-container {
        .post-title {
            font-size: 3rem;
        }

        .upvotes, .downvotes {
            cursor: pointer;
        }

        .upvotes-count {
            font-size: 2rem;
            margin-left: 2px;
        }

        .downvotes-count {
            font-size: 2rem;
            margin-left: 2px;
        }

        .triangle-up {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 22px solid #000000;
        }

        .triangle-down {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 22px solid #000000;
        }

        .post-details-divider {
            font-size: 2rem;
            margin: 1px 1px 2px 1px;
        }

        .created, .edited, .post-creator {
            font-size: 2rem;
        }

        .edit, .delete{
            font-size: 2rem;
            cursor: pointer;
        }

        .sure-button, .nah-button{
            font-size: 2rem;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    td {
        padding-bottom: 1rem;
    }

    .pagination {
        margin-top: 0.5rem;
    }

    #previous, #next {
        font-size: 2.5rem;
        cursor: pointer;
    }

    #pagination-divider {
        font-size: 2rem;
    }
}
