body {
    font-family: "Source Code Pro", monospace;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

header h1 {
    margin: 0;
}

#header {
    text-decoration: none;
    color: #000000;
}


.user-button {
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
    padding: 0 0 5px;
}

.user-button img {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px dashed #000000;
    border-radius: 50%;
    object-fit: cover;
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.menu a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
}

.menu a:hover {
    text-decoration: underline;
}

.menu div {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
}

.menu div:hover {
    text-decoration: underline;
}

.divider {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#logout-link {
    cursor: pointer;
    font-size: 1.2rem;
}

#logout-link:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1024px) {
}

@media screen and (min-width: 481px) and (max-width: 1024px) {

}
