body {
  /* font-family: 'GitHub Sans', sans-serif; */
  font-family: "Source Code Pro", monospace;
}

.description {
  width: 66%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.title-link {
    text-decoration: none; /* Remove underline */
    color: #000; /* Set the link color */
}

.vertical-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 3rem; /* Adjust the width as needed */
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-right: 3rem;
}

.dropdown {
  /* display: flex; */
  /* float: right; */
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;

  /* Adjust the width and height for the button */
  width: 3.5rem;
  height: 3.5rem;

  /* Use flexbox for center alignment */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn img {
  border-radius: 50%;

  /* Adjust the max width and max height for the image */
  max-width: 110%;
  max-height: 110%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  /* background-color: #f9f9f9; */
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown content when the button is focused */
.dropdown:focus-within .dropdown-content {
  display: block;
}

/* Change button color on hover and focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #ff91a1;
}