body {
  font-family: "Source Code Pro", monospace;
}

.description {
  width: 91%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.title-link {
    text-decoration: none;
    color: #000;
}

.vertical-header {
    position: fixed;
    height: 95%;
    top: 0;
    right: 0;
    width: 3%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-right: 2%;
}

.dropdown {
  /* display: flex; */
  /* float: right; */
  position: relative;
  display: inline-block;
  visibility: hidden;
}

.dropbtn {
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;

  /* Adjust the width and height for the button */
  width: 3.5rem;
  height: 3.5rem;

  /* Use flexbox for center alignment */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn img {
  border-radius: 50%;

  /* Adjust the max width and max height for the image */
  max-width: 110%;
  max-height: 110%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  /* background-color: #f9f9f9; */
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown content when the button is focused */
.dropdown:focus-within .dropdown-content {
  display: block;
}

/* Change button color on hover and focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #ff91a1;
}

.add-button {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  background-color: #FFB6C1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s; /* Add a transition for smoother hover effect */
}

.add-button::before, .add-button::after {
  content: '';
  width: 20px;
  height: 4px;
  background-color: white;
  position: absolute;
}

.add-button::before {
  transform: rotate(90deg);
}

.add-button::after {
  transform: rotate(0deg);
}

/* Add a hover effect */
.add-button:hover {
  background-color: #ff91a1; /* Change the background color on hover */
}

