header {
    display: none;
}

h2 {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 98vh;
}

.profile-pic-container {
    position: relative;
    display: inline-block;
}

#profile-pic {
    display: block;
    width: 30vh;
    height: 30vh;
    border: 1px dashed #000000;
    border-radius: 50%;
    object-fit: cover;
}

.upload-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-72%, -10%);
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0.4vh;
}

.upload-icon img {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
}

.menu-container {
    display: flex;
    justify-content: start;
}

.menu {
    display: flex;

    a {
        cursor: pointer;
    }

    div {
        text-decoration: none;
        font-size: 1.2rem;
        color: #000000;
        cursor: pointer;
    }

    div:hover {
        text-decoration: underline;
    }
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        text-decoration: none;
        font-size: 1.2rem;
        color: #000000;
        cursor: pointer;
    }

    div:hover {
        text-decoration: underline;
    }
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    display: flex;
    flex-direction: column;

    h2 {
        padding: 0;
    }

    #modal-input-1 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #modal-input-2 {
        margin-bottom: 0.5rem;
    }

    input {
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid #ffffff;
        padding: 0;
        box-sizing: border-box;
        resize: none;
    }

    input::placeholder {
        font-family: "Source Code Pro", monospace;
    }

    input:focus {
        border-color: #000000;
        outline: none;
    }
}

#modal-submit {
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    width: fit-content;
    padding: 0;
}

.modal-disabled {
    color: #aaa;
    pointer-events: none;
    cursor: default;
}

.modal-enabled {
    color: #000000;
    pointer-events: auto;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #username {
        font-size: 3rem;
    }

    #profile-menu-container {
        display: flex;
        align-items: flex-start;
    }

    #profile-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .divider {
            display: none;
        }

        a, div {
            margin-bottom: 2.25rem;
            font-size: 1.5rem;
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items: flex-end;

        .divider {
            display: none;
        }

        div {
            margin-bottom: 2.25rem;
            font-size: 1.5rem;
        }
    }

    .modal-content {
        width: 90%;
        max-width: 500px;
        padding: 2rem;
    }

    .modal-content h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .modal-content input[type="text"],
    .modal-content input[type="password"] {
        font-size: 1rem;
        margin-bottom: 1rem !important;;
    }

    .modal-content input::placeholder {
        font-size: 1rem;
        margin-bottom: 1rem !important;
    }

    #modal-submit {
        font-size: 1rem;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #profile-pic {
        width: 45vw;
        height: 45vw;
    }

    #username {
        font-size: 5rem;
    }

    .upload-icon {
        transform: translate(-50%, -10%);
    }

    .upload-icon img {
        width: 7vw;
        height: 7vw;
    }

    #profile-menu-container {
        display: flex;
        align-items: flex-start;
    }

    #profile-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .divider {
            display: none;
        }

        a, div {
            margin-bottom: 3rem;
            font-size: 2.25rem;
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        text-align: right;

        .divider {
            display: none;
        }

        a, div {
            margin-bottom: 3rem;
            font-size: 2.25rem;
        }
    }

    .modal-content {
        width: 90%;
        max-width: 600px;
        padding: 2rem;
    }

    .modal-content h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .modal-content input[type="text"],
    .modal-content input[type="password"] {
        font-size: 2rem;
        margin-bottom: 1rem !important;;
    }

    .modal-content input::placeholder {
        font-size: 2rem;
        margin-bottom: 1rem !important;
    }

    #modal-submit {
        font-size: 2rem;
    }
}

