<div class="container">
    <p class="description">Hello there. This is a blog. You can post whatever you want.
         There is no content moderation algorithm that evaluates posts. Each post features two counters.
         One for upvotes and one for downvotes. Also, the same form is used for both signing in and signing up.
         We don't use emails here, so you'd better not lose your password. That's our policy. Thank you for joining our community.
    </p>
    <div id="posts-container">
        <ol>
            <li>
                <div class="post-container">
                    <h3 class="post-title"><a id="post-link" href="">test post title let's go</a></h3>
                    <div class="post-details">
                        <div class="upvotes">
                            <div class="triangle-up"></div>
                            <div class="count">10</div>
                        </div>
                        <div class="post-details-divider">|</div>
                        <div class="downvotes">
                            <div class="triangle-down"></div>
                            <div class="count">10</div>
                        </div>
                        <div class="post-details-divider">|</div>
                        <div class="created">12 Feb 2024</div>
                        <div class="post-details-divider">|</div>
                        <div class="edited">13 Feb 2024</div>
                        <div class="post-details-divider">|</div>
                        <div class="post-creator">castawaypirate</div>
                    </div>
                </div>
            </li>
            <!-- <li>
                <div class="post-container">
                    <h3 class="post-title"><a id="post-link" href="">test post title let's go</a></h3>
                    <div class="post-details">
                        <div class="upvotes">
                            <div class="triangle-up"></div>
                            <div class="count">10</div>
                        </div>
                        <div class="post-details-divider">|</div>
                        <div class="downvotes">
                            <div class="triangle-down"></div>
                            <div class="count">10</div>
                        </div>
                        <div class="post-details-divider">|</div>
                        <div id="upvote">upvote</div> 
                        <div class="post-details-divider">|</div>
                        <div id="downvote">downvote</div>
                        <div class="post-details-divider">|</div>
                        <div class="created">12 Feb 2024</div>
                        <div class="post-details-divider">|</div>
                        <div class="edited">13 Feb 2024</div>
                        <div class="post-details-divider">|</div>
                        <div class="post-creator">castawaypirate</div>
                    </div>
                </div>
            </li> -->
    <!-- <div class="pagination">
        <a href="#" id="previous-link">previous</a>
        <div class="divider">|</div>
        <a href="#" id="next-link">next</a>
    </div> -->
</div>
